alias b='brew'
alias bi='brew install'
alias bupgr='brew upgrade && brew cask upgrade && brew cleanup && brew doctor'
alias cask='brew cask'
alias caski='brew cask install'

alias dcb='docker-compose build'
alias dcdn='docker-compose down'
alias dcr='docker-compose run --rm app'

alias dcrgm='docker-compose run --rm app rails generate migration'
alias dcrra='docker-compose run --rm app rails'
alias dcrspec='docker-compose run --rm app rspec'

alias dcup='docker-compose up'

alias gcc_lex='gcc lex.yy.c -o program.out -ll'

alias npmglist='npm list -g --depth 0'
alias nupgr='npm update -g'
