# Configure PATH
export PATH="/usr/local/opt/ruby/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
export PATH="$HOME/.npm-packages/bin:/usr/local/opt/python/libexec/bin:$PATH"
export PATH="/usr/local/sbin:/usr/local/lib/ruby/gems/2.6.0/bin:$PATH"
export PATH="$PATH:$HOME/.rvm/gems/ruby-2.5.1/bin:$HOME/flutter/bin"
export PATH="/Library/TeX/texbin/:$PATH"

# Other exports
export EDITOR=vim
export LANG=en_US.UTF-8
export DEFAULT_USER=`whoami` # Removes user name and dispositve name in terminal
export FZF_DEFAULT_COMMAND='fd --type file'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
