# This is Git's per-user configuration file.
[user]
  name="Ricardo J González C"
  email="rjgcastillo@hotmail.com"
  username="ricglz0201"

[core]
  excludesfile=/Users/ricglz/.gitignore

[pull]
  rebase=false
[init]
	defaultBranch = main
