# Things to always ignore
.DS_Store
.vs
.vsvode
__pycache__
node_modules
.ipynb_checkpoints

# Vim related
.netrwhist
vim/.vim/autoload/plug.vim.old
vim/.vim/plugged/*
vim/.vim/spell
vim/.vim/undo/*
viminfo

# Nvim thingies
nvim/.config/nvim/plugin
