snippet start "Boilerplate for initial state of program"
  * {
    box-sizing: border-box;
  }

  // Tablet responsiveness
  @media (min-width: 600px) {
  }

  // Computer responsiveness
  @media (min-width: 801px) {
  }
snippet tablet "Media query for tablets"
  @media (min-width: 600px) {
    $1
  }
snippet computer "Media query for computers"
  @media (min-width: 801px) {
    $1
  }
snippet p
  padding: $1;
snippet m
  margin: $1;
