snippet if "If ... endif"
  if $1
    $0
  endif
snippet ifn "If has nvim"
  if has('nvim')
    $0
  endif
snippet com "Adds descriptive comment specially for the vimrc"
  " ${1:Comment} {{{
  $0
  " }}}
