snippet start "Boilerplate for initial state of program"
* {
  box-sizing: border-box;
}

// Tablet responsiveness
@media (min-width: 600px) {
}

// Computer responsiveness
@media (min-width: 801px) {
}
endsnippet

snippet tablet "Media query for tablets"
@media (min-width: 600px) {
  $1
}
endsnippet

snippet computer "Media query for computers"
@media (min-width: 801px) {
  $1
}
endsnippet

snippet p
padding: $1;
endsnippet

snippet m
margin: $1;
endsnippet
