snippet start
* {
  box-sizing: border-box;
}

// Tablet responsiveness
@media (min-width: 600px) {
}

// Computer responsiveness
@media (min-width: 801px) {
}
endsnippet

snippet tablet
@media (min-width: 600px) {
  $1
}
endsnippet

snippet computer
@media (min-width: 801px) {
  $1
}
endsnippet

snippet p
padding: $1;
endsnippet

snippet m
margin: $1;
endsnippet
