snippet start
//@flow
import * as React from 'react';

const $1 = (): React.Node => (
  $0
);

export default $1;
endsnippet

snippet ust
const [${1:state}, ${2:setState}] = React.useState($3);
endsnippet

snippet use
React.useEffect(() => {
  $1
}, [$2]);
endsnippet

snippet styles
const styles = StyleSheet.create({
  $1
});
endsnippet
