snippet ns
namespace :$1 do
  desc '$2'
  task $3: :environment do
    $0
  end
end
endsnippet

snippet fro
# frozen_string_literal: true
endsnippet

snippet head
# frozen_string_literal: true

# $1
endsnippet

snippet human_attribute_name
${1:model}.human_attribute_name${2:.${3:capitalize}}
endsnippet
